@font-face {
  font-family: "mine-sweeper";
  src: url(../fonts/mine-sweeper.ttf);
}

@font-face {
  font-family: 'digital';
  src: url(../fonts/digital-7.ttf);
}

#game_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
}

#gameface {
  font-size: 2.1rem;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 3px;
}

#flagcounter, #time {
  font-family: 'digital';
  font-size: 4rem;
  font-weight: 400;
  background-color: black;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  line-height: .8;
  cursor: context-menu;
  width: 90px;
  color: #ff0000;
}

.background_timer {
  position: absolute;
  color: #ff000042;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameboard {
  background: silver;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  border-left: 5px solid white;
  border-top: 5px solid white;
}

.game {
  background-color: grey;
  display: grid;
  gap: 1px 1px;
  width: fit-content;
  border-left: 5px solid grey;
  border-top: 5px solid grey;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  border: none;
  background-color: #c0c0c0;
  border: 3px solid white;
  border-bottom-color: #808080;
  border-right-color: #808080;
  font-weight: 900;
  cursor: pointer;
}

.gridelement {
  background-color: darkgray;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flag {
  font-family: 'mine-sweeper';
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  pointer-events: none;
}

.revealed {
  border: 1px solid #808080;
  border-top: none;
  border-left: none;
  font-weight: 900;
  font-family: 'mine-sweeper';
}

.blue, .green, .brightred, .darkblue, .darkred, .mint, .black, .lightgrey {
  color: transparent;
  font-size: 1.25rem;
}

.revealed .blue {
  color: #0000ff;
}

.revealed .green {
  color: #007b00;
}

.revealed .brightred {
  color: #ff0000;
}

.revealed .darkblue {
  color: #00007b;
}

.revealed .darkred {
  color: #670b04;
}

.revealed .mint {
  color: #166852;
}

.revealed .black {
  color: #0c0304;
  font-size: 0.9rem;
  padding: 0;
  color: black;
}

.revealed .lightgrey {
  color: #7b7b7b;
}

.revealed.black {
  background-color: #ff0000;
}

.revealed button {
  font-weight: 900;
  font-family: 'mine-sweeper';
  border: none;
}

.revealed .white {
  color: white;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-3px) translateY(-4px);
  background: white;
  pointer-events: none;
}

.foreground_timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.number_element {
  width: 20.625px;
  height: 39.375px;
  background-size: 100% 100%;
}

.zero {
  background-image: url("../img/d0.svg");
}

.one {
  background-image: url("../img/d1.svg");
}

.two {
  background-image: url("../img/d2.svg");
}

.three {
  background-image: url("../img/d3.svg");
}

.four {
  background-image: url("../img/d4.svg");
}

.five {
  background-image: url("../img/d5.svg");
}

.six {
  background-image: url("../img/d6.svg");
}

.seven {
  background-image: url("../img/d7.svg");
}

.eight {
  background-image: url("../img/d8.svg");
}

.nine {
  background-image: url("../img/d9.svg");
}
/*# sourceMappingURL=gamefield.css.map */