@font-face {
  font-family: "mine-sweeper";
  src: url(../fonts/mine-sweeper.ttf);
}

.game {
  background-color: grey;
  border: 3px solid grey;
  display: grid;
  gap: 1px 1px;
  width: fit-content;
  margin: 0 auto;
}

button {
  border: none;
  background-color: #c0c0c0;
  border: 3px solid white;
  border-bottom-color: #808080;
  border-right-color: #808080;
  font-weight: 900;
  cursor: pointer;
}

.gridelement {
  background-color: darkgray;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.revealed {
  border: 1px solid #808080;
  border-top: none;
  border-left: none;
  font-weight: 900;
  font-family: 'mine-sweeper';
}


.blue {
  color: #0000ff;
}

.green {
  color: #007b00;
}

.brightred {
  color: #ff0000;
}

.darkblue {
  color: #00007b;
}

.darkred {
  color: #670b04;
}

.mint {
  color: #166852;
}

.black {
  color: #0c0304;
}

.lightgrey {
  color: #7b7b7b,
}

.revealed.mine {
  background-color: #ff0000;
}

.revealed {
  .white {
    color: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-2px) translateY(-4px);
    background: white;
    pointer-events: none
  }  
}
