@font-face {
  font-family: "mine-sweeper";
  src: url(../fonts/mine-sweeper.ttf);
}

@font-face {
  font-family: 'digital';
  src: url(../fonts/digital-7.ttf)
}

#game_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
}

#gameface {
  font-size: 1.8rem;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#flagcounter, #time {
  font-family: 'digital';
  font-size: 4rem;
  font-weight: 400;
  background-color: black;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  line-height: .8;
  cursor: context-menu;
  width: 75px; 
  color: #ff0000;
}

.background_timer {
  position: absolute;
  color: #ff000042;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameboard {
  background: silver;
  width:fit-content;
  height: fit-content;
  display: inline-block;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  border-left: 5px solid white;
  border-top: 5px solid white;
}

.game {
  background-color: grey;
  display: grid;
  gap: 1px 1px;
  width: fit-content;
  border-left: 5px solid grey;
  border-top: 5px solid grey;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  border: none;
  background-color: #c0c0c0;
  border: 3px solid white;
  border-bottom-color: #808080;
  border-right-color: #808080;
  font-weight: 900;
  cursor: pointer;
}

.gridelement {
  background-color: darkgray;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flag {
  font-family: 'mine-sweeper';
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  pointer-events: none;
}

.revealed {
  border: 1px solid #808080;
  border-top: none;
  border-left: none;
  font-weight: 900;
  font-family: 'mine-sweeper';
}

.blue, .green, .brightred, .darkblue, .darkred, .mint, .black, .lightgrey {
  color: transparent;
  font-size: 1.25rem;
}

.revealed .blue {
  color: #0000ff;
}

.revealed .green {
  color: #007b00;
}

.revealed .brightred {
  color: #ff0000;
}

.revealed .darkblue {
  color: #00007b;
}

.revealed .darkred {
  color: #670b04;
}

.revealed .mint {
  color: #166852;
}

.revealed .black {
  color: #0c0304;
  font-size: 0.9rem;
  padding: 0;
  color: black;
}

.revealed .lightgrey {
  color: #7b7b7b,
}

.revealed.black.clicked {
  background-color: #ff0000;
}

.revealed {
  button {
    font-weight: 900;
    font-family: 'mine-sweeper';
    border: none;
  }
  .white {
    color: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-3px) translateY(-4px);
    background: white;
    pointer-events: none
  }  
}


.foreground_timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.number_element {
  width: 20.625px;
  height: 39.375px;
  background-size: 100% 100%;
}

.zero {
  background-image: url('../img/d0.svg');
}

.one {
  background-image: url('../img/d1.svg');
}

.two {
  background-image: url('../img/d2.svg');
}

.three {
  background-image: url('../img/d3.svg');
}

.four {
  background-image: url('../img/d4.svg');
}

.five {
  background-image: url('../img/d5.svg');
}

.six {
  background-image: url('../img/d6.svg');
}

.seven {
  background-image: url('../img/d7.svg');
}

.eight {
  background-image: url('../img/d8.svg');
}

.nine {
  background-image: url('../img/d9.svg');
}

.board {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.425);
}

.select-menue {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  padding-top: 5px;
}

.select-css {
	display: block;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width:100px;
	max-width: 100%;
	box-sizing: border-box;
  margin: 0;
  border: 1px solid transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  margin-right: auto;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}