@font-face {
  font-family: "mine-sweeper";
  src: url(../fonts/mine-sweeper.ttf);
}

@font-face {
  font-family: 'digital';
  src: url(../fonts/digital-7.ttf);
}

html {
  height: 100%;
  background-color: #050505;
}

#game_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
}

#gameface {
  font-size: 1.8rem;
  border-top: 5px solid white;
  border-left: 5px solid white;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#gameface:active:hover {
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}

#flagcounter, #time {
  font-family: 'digital';
  font-size: 4rem;
  font-weight: 400;
  background-color: black;
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  line-height: .8;
  cursor: context-menu;
  width: 75px;
  color: #ff0000;
}

.background_timer {
  position: absolute;
  color: #ff000042;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.gameboard {
  background: silver;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  border-left: 5px solid white;
  border-top: 5px solid white;
}

.game {
  background-color: grey;
  display: grid;
  gap: 1px 1px;
  width: fit-content;
  border-left: 5px solid grey;
  border-top: 5px solid grey;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

button {
  border: none;
  background-color: #c0c0c0;
  border: 3px solid white;
  border-bottom-color: #808080;
  border-right-color: #808080;
  font-weight: 900;
  cursor: pointer;
}

.gridelement {
  background-color: darkgray;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flag {
  font-family: 'mine-sweeper';
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  pointer-events: none;
}

.revealed {
  border: 1px solid #808080;
  border-top: none;
  border-left: none;
  font-weight: 900;
  font-family: 'mine-sweeper';
}

.blue, .green, .brightred, .darkblue, .darkred, .mint, .black, .lightgrey {
  color: transparent;
  font-size: 1.25rem;
}

.revealed .blue {
  color: #0000ff;
}

.revealed .green {
  color: #007b00;
}

.revealed .brightred {
  color: #ff0000;
}

.revealed .darkblue {
  color: #00007b;
}

.revealed .darkred {
  color: #670b04;
}

.revealed .mint {
  color: #166852;
}

.revealed .black {
  color: #0c0304;
  padding: 0;
  color: black;
  font-size: 1.2rem;
}

.revealed .lightgrey {
  color: #7b7b7b;
}

.revealed.black.clicked {
  background-color: #00b600;
}

.revealed button {
  font-weight: 900;
  font-family: 'mine-sweeper';
  border: none;
}

.revealed .white {
  color: white;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-3px) translateY(-4px);
  background: white;
  pointer-events: none;
}

.foreground_timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  filter: hue-rotate(90deg) brightness(2);
}

.number_element {
  width: 20.625px;
  height: 39.375px;
  background-size: 100% 100%;
}

.zero {
  background-image: url("../img/d0.svg");
}

.one {
  background-image: url("../img/d1.svg");
}

.two {
  background-image: url("../img/d2.svg");
}

.three {
  background-image: url("../img/d3.svg");
}

.four {
  background-image: url("../img/d4.svg");
}

.five {
  background-image: url("../img/d5.svg");
}

.six {
  background-image: url("../img/d6.svg");
}

.seven {
  background-image: url("../img/d7.svg");
}

.eight {
  background-image: url("../img/d8.svg");
}

.nine {
  background-image: url("../img/d9.svg");
}

.select-menue {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.select-menue button.selected {
  color: #00b600;
}

.select-menue button {
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: 'mine-sweeper';
  letter-spacing: .4rem;
  font-size: .8rem;
  color: white;
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0;
  padding-bottom: 10px;
  text-align: center;
}

.select-menue button:hover {
  color: #c71010;
}

.select-css {
  display: block;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3;
  padding: .6em 1.4em .5em 11px;
  width: 125px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid transparent;
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  margin-right: auto;
  background-color: #e2e2e2;
  color: #00b600;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  font-family: 'mine-sweeper';
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  margin-left: 11px;
  margin-top: 5px;
  appearance: none;
  padding: 10px;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  color: #00b600;
  outline: none;
}

.select-css option {
  font-weight: normal;
  padding: 15px;
  margin-top: 10px;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa;
}

.view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.side {
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-left: 1vw;
  padding-top: 5vh;
}

.board {
  border: 1px solid rgba(128, 128, 128, 0.425);
  width: fit-content;
  flex: 0 0 auto;
}

.bestlist {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  font-family: 'mine-sweeper';
  letter-spacing: .1rem;
  cursor: context-menu;
  width: fit-content;
  padding-bottom: 5px;
  letter-spacing: .3rem;
}

.list {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  overflow-y: scroll;
  max-height: 400px;
}

/* width */
.list::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00b600;
  border-radius: 15px;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: #00b600;
  background: linear-gradient(140deg, #00b600 0%, red 100%);
  border-radius: 15px;
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.recordholder {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.username {
  margin: 10px;
  font-weight: 900;
  font-family: 'mine-sweeper';
  font-size: .7rem;
  text-decoration: underline;
  margin-bottom: 0px;
  letter-spacing: .2rem;
}

.time {
  margin: 10px;
  font-family: 'mine-sweeper';
  font-size: .65rem;
  letter-spacing: .2rem;
}

.difficulty {
  margin: 10px;
  margin-top: 5px;
  font-family: 'mine-sweeper';
  font-size: .65rem;
  font-weight: 200;
  letter-spacing: .2rem;
  color: #c71010;
}

.header {
  color: white;
  font-family: 'mine-sweeper';
  font-size: 2.2rem;
  width: 100%;
  margin-bottom: 3vh;
  width: fit-content;
  letter-spacing: 1.5rem;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.submit_form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5vh;
  width: fit-content;
}

.submit_form textarea {
  width: 100%;
  padding: 0;
  border: none;
  resize: none;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitbutton {
  font-weight: 600;
  font-family: 'mine-sweeper';
  background-color: silver;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  padding: 5px;
}

.return_survivors {
  font-weight: 600;
  font-family: 'mine-sweeper';
  background-color: silver;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid grey;
  border-right: 4px solid grey;
  margin-left: 10px;
  padding: 5px;
}

.form_buttons {
  margin-top: 10px;
}

.no_survivors {
  font-family: 'mine-sweeper';
  font-size: .8rem;
  letter-spacing: .3rem;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  .side {
    border-left: none;
    margin-left: 0;
    padding-top: 5vh;
    width: 50vw;
    margin-bottom: 20vh;
  }
  .view {
    flex-direction: column;
  }
  .board {
    margin-bottom: 5vh;
  }
  .list {
    width: 50vw;
  }
  .select-menue {
    flex-direction: column;
    margin-top: 10vh;
  }
  .difficulty_select, #sound_icon {
    margin-bottom: 1vh;
  }
}

.MuiSvgIcon-root {
  width: 1.5em !important;
  height: 1.5em !important;
}

.MuiSvgIcon-root:hover {
  cursor: pointer;
}

.makeStyles-root-1 {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: .5rem;
}
/*# sourceMappingURL=gamefield.css.map */