@font-face {
  font-family: 'mine-sweeper';
  src: url(../fonts/mine-sweeper.ttf);
}

@font-face {
  font-family: 'digital';
  src: url(../fonts/digital-7.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  background-color: #050505;
  font-size: 62.5%;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.MuiSvgIcon-root {
  cursor: pointer;
}
